* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #ffffff;
}

#header-nav {
  background-color: #ff6a6a;
  border-radius: 0;
  border: 0;
}
.navbar-header {
  height: 50px;
  background-color: #ff6a6a;
  margin-bottom: 0px;
}

.navbar-brand h1 { 
  color: #a64ca6;
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0px;
  padding-left: 5px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#collapsable-nav  {
 
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}

#nav-list a {
  color: #000000;
  text-align: center;
  margin: 0 0 0;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list hr {
  margin: 0 0 0;
}

#nav-list nav-list{
  height: 40px;
}

.navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  
#collapsable-nav  { 
  background-color: #3b9b7c;
  } 
}
  
  #main-content {
    background-color: #FFFFFF;
    clear: both;
  }
 
 #menu-title  h2 {
    color: #000000;
    font-weight: bold;
    margin-top: 0px;
 }
  #menu-item  h3 {
    text-align: center;
    color: #000000;
    font-weight: bold;
    background-color: #abaab1;
    margin:0 0 0;
    padding-top: 10px;
    padding-bottom: 15px;
 }
  
  #menu-content  h3 {
    text-align: center;
    color: #000000;
    font-size: .9em;
    background-color: #abaab1;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0;
 }   

